<nav>
    {{> navbar}}
</nav>

<h1>Sign Up</h1>

{{#each errors}}
    <div class="notification is-danger">
        <button class="delete"></button>
        {{this.msg}}
    </div>
{{/each }}
     
{{#if todo_error}}
    <div class="notification is-danger">
        <button class="delete"></button>
        {{todo_error}}
    </div>
{{/if}}
<div class="field">
    <form action="/auth/signup" method="POST">

        <div class="field">
            <label for="name">Name</label>
            <input class="input" type="text" value="{{name}}" id="name" name="name" placeholder="Enter your name">
            </p>
        </div>

        <div class="field">
            <label for="email">Email</label>
            <input class="input" value="{{email}}" type="email" id="email" name="email" placeholder="Enter your email">
            </p>
        </div>

        <div class="field">
            <label for="password">Password</label>
            <input class="input" type="password" id="password" name="password" placeholder="Enter your password ">
        </div>

        <div class="field">
            <label for="confirm_password">Repeat your password</label>
            <input class="input" type="password" id="confirm_password" name="confirm_password" placeholder="Repeat your password">
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-success" type="submit" >Sign Up</button>
            </div>
        </div>
    </form>
</div>