<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/home">
      <img src="" width="112" height="28">
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/home" class="navbar-item">
        Home
      </a>

      <a href="/posts" class="navbar-item">
        My Posts
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          User
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href='/auth/logout' class="button is-primary">
            <strong>Logout</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

{{#each posts}}
    <div class="card card-post">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x50">
                        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">{{this.title}}</p>
                    <p class="subtitle is-6">@jhonsmith</p>
                </div>
            </div>
            <div class="content">
                {{this.body}}
            </div>
        </div>
        <div class=" btn-post content">
            <a href="/posts/{{this.slug}}" class="button is-success is-light">See More</a>
        </div>
    </div>
{{/each}}