<h1>Listado de Posts</h1>

<table class="table is-fullwidth">
    <thead>
        <tr>
        <th>Título</th>
        <th>Post</th>
        <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
            <tr> 
            <td width="30%">{{this.title}}</td>
            <td width="40%">{{this.body}}</td>
            <td class="field is-grouped">
                <a href="/posts/{{{this.slug}}}" class="button is-primary">Ver</a>
                <button class="button is-info is-light"> Editar</button>
                
                <form class="control" action="/posts/{{this._id}}" method="POST">
                    <button class="button is-danger"> 
                        <ion-icon name="trash-outline"></ion-icon>
                        Eliminar 
                    </button>
                </form>

               
            </td>
            </tr>
       {{/each}}
  </tbody>
</table>



    
