<nav>

</nav>

<header>
    <div class="container">
        <img src="../assets/img/university-landing.png" alt="foto de portada university blog">
        
    </div>
    <div class="is-flex is-justify-content-center btn-landing">
            <a class="button is-primary btn-landing" href="/auth/signup">To Add! 😎</a>
            <a class="button is-primary btn-landing" href="/auth/signin">I have an account</a>
    </div>

</header>

<footer>
    {{> footer}}
</footer>