<h2>Creando Post</h2>

<form action="/posts/" method="POST">
    <div class="field">
        <div class="control">
            <label for="title" class="label">Título</label>
            <input class="input" id="title" type="text" name="title" placeholder="Ingrese el título del post">
        </div>
        
        <div class="control">
            <label for="body" class="label">Cuerpo</label>
            <textarea class="textarea" id="body" name="body" placeholder="Ingrese el cuerpo del post"></textarea>
        </div> 
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-link">Enviar</button>
        </div> 
    </div>
</form>

