<h2>Post</h2>

<div class="card">
  <div class="card-header">
    <p class="card-header-title">
        {{post.title}}
    </p>
    </div>
    <div class="card-content">
    <div class="content">
      {{post.body}}
    </div>
  </div>
</div>